name: Scheduled create tag
on:
  schedule:
    - cron:  '20 * * * *'

jobs:
  create-tag:
    name: Create tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            function zeroPad(num, len){
              return ('00' + num).slice(-len);
            }
            const date = new Date();
            const year = date.getFullYear();
            const month = zeroPad(date.getMonth() + 1, 2);
            const day = zeroPad(date.getDate(), 2);
            const dateStr = year + month + day;
            console.log('dateStr=' + dateStr);

            const ref = await github.git.getRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'heads/master',
            });
            console.log('ref=' + JSON.stringify(ref));
            github.git.createTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: 'sample-' + dateStr,
              message: 'sample message.',
              object: ref.sha,
              type: 'commit'
            });
